.Description-container p {
  color: #555;
  font-size: 1.1rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
}
.Description-container h2 {
  color: #555;
  margin: 1rem 0;
  text-align: left;
  padding-left: 1rem;
  font-size: 1.3rem;
}
.Image-container {
  padding-top: 5%;
  text-align: center;
}
.modal-color-title, .modal-lang-title {
  font-size: 1.1rem;
}
.modal-lang-title {
  line-height: 2;
}
.modal-lang-container {
  margin-top: 1rem;
}
.display-title {
  font-size: 1rem;
  margin-bottom: 0;
  line-height: 1.8;
}
.title-switch {
  margin-top: .5rem;
}
.title-switch .col-8 {
  padding-right: 0;
}
.Flash-content p {
  color: #555;
}
