body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-size: cover;
}

@keyframes beat{
	to { transform: scale(1.05); }
}

svg {
  overflow: inherit !important;
}

#heart, #lung, #grouped-organs, #heart-head, #trach {
  cursor: pointer;
  fill: #FF0000;
  fill-opacity: 0;
  stroke: #FF0000;
  stroke-opacity: 0.2;
  vector-effect: "non-scaling-stroke";
}

#heart {
  animation: beat 1.3s infinite alternate;
  fill-opacity: 0.6;
}

#pressure-disable {
  cursor: pointer;
  fill: transparent;
  fill-opacity: 0.6;
  vector-effect: "non-scaling-stroke";
  stroke: #004eff;
  stroke-opacity: 0.2;
  stroke-width: 5;
}

#grouped-organs, #cord {
  cursor: pointer;
  fill: rgb(245 181 173);
  fill-opacity: 1;
}

 #cord:hover, #heart-head:hover, #heart:hover, #lung:hover, #grouped-organs:hover, #heart-head:hover, #trach:hover {
  fill: #FF0000;
  fill-opacity: 0.8;
  stroke-opacity: 1;
}

#pressure-disable:hover {
  fill-opacity: 0.8;
  stroke-opacity: 1;
}

.heart-enable {
  animation: beat .3s infinite alternate !important;
  fill-opacity: 0.8 !important;
  stroke-opacity: 1 !important;
}

.pressure-enable-nerf-bottom {
  stroke: rgb(200, 159, 64) !important;
}

#nerfs {
  stroke-width: 6;
}

#Nerf-bottom, #Nerf-mid, #Nerf-top {
  cursor: pointer;
  stroke: rgb(234, 211, 193);
  stroke-linecap: square;
}

#Nerf-bottom:hover, #Nerf-mid:hover, #Nerf-top:hover {
  stroke: rgb(200, 159, 64);
}

#Bulbe-tige {
  cursor: pointer;
  fill: rgb(254, 202, 156);
}

#Bulbe-tige:hover {
  fill: rgb(224, 141, 67);
}

#Bulbe-node {
  cursor: pointer;
  fill: rgb(203, 152, 106);
}

#Bulbe-node:hover {
  fill: rgb(253, 134, 26);
}

#Bulbe-left, #Bulbe-right {
  cursor: pointer;
  fill: rgb(181, 123, 241);
}

#Bulbe-left:hover, #Bulbe-right:hover {
  fill: rgb(203, 156, 252);
}

#Bulbe-node-left, #Bulbe-node-right {
  cursor: pointer;
  fill: rgb(151, 103, 152);
}

#Bulbe-node-left:hover, #Bulbe-node-right:hover {
  fill: rgb(141, 21, 144);
}

#Oval_1, #Oval_2, #Line, #Line-2 {
  cursor: pointer;
}
.scissors {
  cursor: pointer;
}
.scissors-enable {
  fill: #F44336 !important;
}
